<ng-template #modalTitle>
  <span class="ds-modal-title">
    Edit order
    <span class="ds-modal-title-sub">{{ ordersService.selectedOrder()?.orderNumber }}</span>
  </span>
</ng-template>

<nz-modal
  [(nzVisible)]="ordersService.showEditModal"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="ordersService.isSendingRequest()"
  [nzWidth]="760"
  nzCentered
  nzWrapClassName="ds-form-modal"
>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" class="ds-form">
      <p class="ds-form-section-eyebrow">METADATA</p>
      <div class="row g-3">
        <div class="col-12 col-md-4">
          <nz-form-item>
            <nz-form-label nzNoColon>Order number</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="edit-order-number"
                [value]="ordersService.selectedOrder()?.orderNumber"
                disabled
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-4">
          <nz-form-item>
            <nz-form-label nzNoColon>Table number</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="edit-table-number"
                [value]="ordersService.selectedOrder()?.table?.tableNumber"
                disabled
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-4">
          <nz-form-item>
            <nz-form-label nzNoColon>Phone number</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                id="edit-phone-number"
                [ngModel]="phoneNumber()"
                (ngModelChange)="phoneNumber.set($event)"
                placeholder="Customer phone number"
                [ngModelOptions]="{ standalone: true }"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <p class="ds-form-section-eyebrow">ADD ITEMS</p>
      <div class="ds-edit-order-add">
        <nz-select
          id="edit-food-select"
          class="flex-grow-1"
          nzShowSearch
          nzPlaceHolder="Pick a food item"
          [ngModel]="selectedFoodId()"
          (ngModelChange)="selectedFoodId.set($event)"
          [ngModelOptions]="{ standalone: true }"
        >
          @for (food of foodsService.listOfFood(); track food.id) {
            <nz-option [nzValue]="food.id" [nzLabel]="food.name" [nzCustomContent]="true">
              <div class="d-flex align-items-center gap-2">
                <img [src]="getFoodImage(food.image)" [alt]="food.name" class="food-option-image" />
                <div class="flex-grow-1">
                  <div class="food-option-name">{{ food.name }}</div>
                  <div class="food-option-price">
                    ৳{{ food.discountPrice > 0 ? food.discountPrice : food.price }}
                  </div>
                </div>
              </div>
            </nz-option>
          }
        </nz-select>
        <button
          type="button"
          class="ds-add-item-button"
          (click)="addFoodToOrder()"
          [disabled]="!selectedFoodId()"
        >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          Add
        </button>
      </div>

      <p class="ds-form-section-eyebrow">ORDER ITEMS</p>
      <div class="ds-edit-order-items">
        @if (editItems().length === 0) {
          <div class="ds-edit-order-empty">No items in this order yet.</div>
        }
        @for (item of editItems(); track item.uniqueId; let i = $index) {
          <div class="ds-edit-order-row">
            <img
              nz-image
              nzDisablePreview
              class="ds-edit-order-image"
              [nzSrc]="getFoodImage(item.foodImage)"
              [nzFallback]="fallbackImage"
              [alt]="item.foodName"
            />
            <div class="ds-edit-order-meta">
              <p class="ds-edit-order-name">{{ item.foodName }}</p>
              <p class="ds-edit-order-unit">৳{{ item.unitPrice }} each</p>
            </div>
            <div class="ds-edit-order-qty">
              <span class="ds-edit-order-label">Qty</span>
              <nz-input-number
                [ngModel]="item.quantity"
                [nzMin]="1"
                [nzMax]="100"
                (ngModelChange)="onQuantityChange(i, $event)"
                [ngModelOptions]="{ standalone: true }"
              ></nz-input-number>
            </div>
            <p class="ds-edit-order-total">৳{{ item.totalPrice }}</p>
            <button
              type="button"
              class="ds-edit-order-remove"
              (click)="removeItem(i)"
              [attr.aria-label]="'Remove ' + item.foodName + ' from order'"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        }
      </div>

      <div class="ds-edit-order-total-row">
        <span class="ds-edit-order-total-label">Total</span>
        <span class="ds-edit-order-total-value">৳{{ totalAmount() }}</span>
      </div>
    </form>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="ordersService.isSendingRequest()"
    >
      Save changes
    </button>
  </div>
</nz-modal>
