<ng-template #modalTitle>
  <span class="ds-modal-title">Assign employees</span>
</ng-template>

<nz-modal
  [(nzVisible)]="tablesService.showAssignModal"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="tablesService.isSendingRequest()"
  [nzWidth]="modalWidth"
  nzCentered
  nzWrapClassName="ds-form-modal"
>
  <ng-container *nzModalContent>
    <div class="ds-form">
      <!-- Table image + employee select side-by-side -->
      <div class="ds-form-avatar-row">
        <div class="ds-avatar-static ds-avatar-static--square">
          @if (tablesService.assignTableImage()) {
            <img
              [src]="tablesService.assignTableImage()"
              [alt]="'Table ' + tablesService.assignTableName()"
              class="ds-avatar-image"
            />
          } @else {
            <span nz-icon nzType="group" nzTheme="outline"></span>
          }
        </div>
        <div class="ds-form-avatar-fields ds-form-avatar-fields--1">
          <div class="ds-field">
            <label class="ds-field-label" for="employee-select">
              {{ tablesService.assignTableName() }}
              <span class="ds-form-label-unit">
                · {{ tablesService.assignTableSeats() }} seats
              </span>
            </label>
            <nz-select
              id="employee-select"
              [nzMaxTagCount]="3"
              [nzMaxTagPlaceholder]="tagPlaceHolder"
              nzMode="multiple"
              nzPlaceHolder="Search and pick employees"
              [ngModel]="listOfSelectedEmployees"
              (ngModelChange)="listOfSelectedEmployees = $event"
              class="w-100 employee-select"
              nzAllowClear
            >
              @for (emp of tablesService.listOfAvailableEmployees(); track emp.id) {
                <nz-option nzCustomContent [nzLabel]="getEmployeeFullName(emp)" [nzValue]="emp">
                  <div class="d-flex align-items-center gap-2">
                    <nz-avatar
                      [nzSize]="32"
                      nzIcon="user"
                      [nzSrc]="getEmployeeImageUrl(emp.user.image)"
                    ></nz-avatar>
                    <span>{{ getEmployeeFullName(emp) }}</span>
                  </div>
                </nz-option>
              }
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList>
              and {{ selectedList.length }} more selected
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()" type="button">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="tablesService.isSendingRequest()"
      type="button"
    >
      Assign
    </button>
  </div>
</nz-modal>
