<ng-template #modalTitle>
  <span class="ds-modal-title">
    {{ tablesService.isEditMode() ? 'Edit table' : 'Add new table' }}
  </span>
</ng-template>

<nz-modal
  [(nzVisible)]="tablesService.showAddModal"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="tablesService.isSendingRequest()"
  [nzWidth]="modalWidth()"
  nzCentered
  nzWrapClassName="ds-form-modal"
>
  <ng-container *nzModalContent>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="handleOk()"
      class="ds-form"
    >
      <!-- Avatar header band: square thumbnail + table number + seats -->
      <div class="ds-form-avatar-row">
        <nz-upload
          class="ds-avatar-upload"
          [nzShowUploadList]="false"
          nzAction="null"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="true"
          [nzPreview]="handlePreview"
          [nzBeforeUpload]="beforeUpload"
          [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
          (nzChange)="onChange($event)"
          aria-label="Upload table photo"
        >
          <div class="ds-avatar-slot ds-avatar-slot--square">
            @if (previewImage) {
              <img [src]="previewImage" alt="Table preview" class="ds-avatar-image" />
              <div class="ds-avatar-overlay">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </div>
            } @else {
              <span nz-icon nzType="plus" nzTheme="outline"></span>
            }
          </div>
        </nz-upload>
        <div class="ds-form-avatar-fields ds-form-avatar-fields--2">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Table number</nz-form-label>
            <nz-form-control [nzErrorTip]="tableNameErrorTmpl">
              <input
                nz-input
                formControlName="tableName"
                placeholder="e.g. T-12"
                autocomplete="off"
              />
              <ng-template #tableNameErrorTmpl let-control>
                @if (control.errors?.['required']) {
                  Required.
                } @else if (control.errors?.['notAlphaNum']) {
                  Letters and numbers only.
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Number of seats</nz-form-label>
            <nz-form-control [nzErrorTip]="numberOfSeatsError">
              <input
                nz-input
                formControlName="numberofseats"
                placeholder="e.g. 4"
                autocomplete="off"
              />
              <ng-template #numberOfSeatsError let-control>
                @if (control.errors?.['required']) {
                  Required.
                } @else if (control.errors?.['isNotNum']) {
                  Must be a number.
                }
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>

  <!-- Modal Footer -->
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()" type="button">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOk()"
      [nzLoading]="tablesService.isSendingRequest()"
      type="button"
    >
      {{ tablesService.isEditMode() ? 'Save changes' : 'Add table' }}
    </button>
  </div>
</nz-modal>
